main{
    margin-left: 50px;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    line-height: normal;
    text-transform: none;
}

nav.menu {
    font-size: 20px;
    text-align: center;
    padding: 4px;
}

nav.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 2px solid #000000; /* Рамка вокруг текста */
    padding: 8px; /* Поля вокруг текста */
}

.img1 {
    height: 50px;
    width: 50px;
}

.img2 {
    height: 300px;
    width: 200px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.site_name {
    text-align: center;
}


h2 {
    font-weight: 700;
}

h4 {
    text-decoration: underline;
}

hr {
    width: 100%;
    border: none; /* Убираем границу */
    background-color: #000000; /* Цвет линии */
    height: 5px; /* Толщина линии */
}

footer {
    background: #ececec;
    padding-left: 10px;
}
