footer.border.border-dark
    p
        q Безнадёжно — это когда на крышку гроба падает земля. Остальное можно исправить.
        |         — Джейсон Стэтхэм.
    h3 Контакты:
    ul
        li +7-909-459-**-**
        li 285185@niuitmo.ru
        li
            a(href='https://vk.com/zhukov.maksim') VK
        li
            a(href='https://t.me/max_zhukoff') TELEGRAM
    // <script>document.write("Время загрузки страницы: " + loadTime + "c")</script>
    script.
      window.addEventListener("load", () => document.getElementById("demo").innerText = "Время загрузки страницы: " + loadTime + "c" + " (client) + " + loadTimeServer + "c" + " (server)")
    p#demo Время загрузки страницы: